# OKX API 配置
OKX_API_KEY=07ac3d9c-34d7-4ccf-9b83-2d1d40c0d95e
OKX_SECRET_KEY=DBA847402734BAF4B104C63F897C1DDC
OKX_PASSPHRASE=FungChun3549168**

# 企业微信机器人 Webhook
WECHAT_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=b45a3afd-73b0-4135-8e94-845323421b6a